body
{
  background: rgba(240,240,240);
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

.container
{
  width: 40vw;
  height: 70vh;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: column;
}

#player-container
{
  margin-right: 5vw;
  background: black;
  color: white;
}
#player
{
  width: 40vw;
  margin-bottom: 10vh;
}